# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = tapcomment.settings

[deploy]
#url = http://localhost:6800/
url = http://118.25.8.77:6800/addversion.json
project = tapcomment
